---
---

body {
    background-color: #f5f5f5;
}
a {
    word-break: break-word;
    &.mdl-button {
        word-break: normal;
    }
}
img {
    max-width: 100%;
    color: #789ba9;
}
table {
    display: block;
    overflow: auto;
    width: 100%;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 16px;
}
td, th {
    border: 1px solid #ddd;
    padding: 6px 13px;
}
tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

pre, code {
    background-color: #f7f7f7;
    border-radius: 3px;
}
code {
    display: inline-block;
    padding: 0 0.5em;
    word-break: break-word;
}
pre, pre[class*="language-"] {
    font-size: 85%;
    line-height: 1.6em;
    margin: 0 0 16px;
    padding: 16px;
    overflow: auto;

    code {
        background: none;
        border: none;
        padding: 0;
    }
}

blockquote {
    border-left: 4px solid #ddd;
    color: #777;
    padding: 0 15px;
    font-style: normal;
    line-height: normal;
    margin: 0 0 15px;
}
blockquote:before,
blockquote:after {
    content: '';
    position: static;
    left: auto;
    right: auto;
    margin: 0;
}
blockquote > *:last-child {
    margin-bottom: 0;
}
blockquote > *:first-child {
    margin-top: 0;
}

@media (max-width: 480px) {
    h1 {
        font-size: 42px;
        line-height: 1.2em;
    }
    h2 {
        font-size: 38px;
        line-height: 1.15em;
    }
}

/* Layout */
.mdl-layout {
    margin: 30px auto;
    max-width: 1080px;
    padding: 10px 50px 30px;
    box-sizing: border-box;
}
.mdl-layout__header {
    border-bottom: 1px solid #eaeaea;
    display: flex;
}
.mdl-layout__header-row {
    padding: 0;
    height: 80px;
}
.mdl-layout__content {
    padding: 10px 0 0;
}
@media (max-width: 1080px) {
    body {
        background-color: #fff;
    }
    .mdl-layout {
        margin: 0 auto;
        box-shadow: none;
    }
}
@media (max-width: 839px) {
    .mdl-layout {
        padding: 0 20px;
    }
}
@media (max-width: 600px) {
    .mdl-layout__header-row {
        display: block;
        height: auto;
        text-align: center;
    }
    .mdl-layout__header-row .mdl-layout-title {
        margin: 20px 0 10px;
    }
}

footer {
    padding: 30px 0 20px;
    margin-top: 40px;
    border-top: 1px solid #eaeaea;
    text-align: center;
}

/* Search block */
.docs-search {
    .mdl-button {
        right: 0;
    }
    .mdl-textfield {
        width: 100%;
    }
    .textfield-wrapper {
        position: relative;
        width: 300px;
    }
    .mdl-textfield__input {
        border-bottom-color: transparent;
    }
}
@media (max-width: 839px) {
    .docs-search .textfield-wrapper {
        width: 200px;
    }
}
@media (max-width: 600px) {
    .docs-search .textfield-wrapper {
        width: 80%;
        margin: 0 auto;
    }
}
.search-results {
    margin: 0;
    padding: 10px 15px 12px;
    list-style: none;

    li {
        padding: 2px 0;
    }

    .category {
        font-size: 11px;
        background: #f1f1f1;
        border-radius: 2px;
        text-shadow: 1px 1px 0 #fff;
        color: #888;
        padding: 2px 4px;
        margin: 0 0 0 5px;
        vertical-align: middle;
    }
}
.docs-search .search-results {
    display: none;
    position: absolute;
    z-index: 10;
    right: 0;
    width: 500px;
    text-align: left;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin-top: -25px;
}
.search-results.shown {
    display: block;
}
@media (max-width: 600px) {
    .docs-search .search-results {
        width: 100%;
    }
}

.breadcrumbs {
    margin: 5px 0 10px;
}
.jumbotron {
    padding: 30px 0;
}

/* Home */
.card {
    .card-content {
        .actions {
            a {
                margin: 0 10px 0 0;
            }
        }
    }
}

//
// Masonry styles
// ______________________________________________
$masonry-gutter-size: 5px;
$masonry-brick-size: 102px;
$masonry-brick-max-size: 5;
$masonry-brick-colors: (
    red,
    deepskyblue,
    gold,
    tomato,
    rebeccapurple,
    lawngreen,
    magenta,
    cornflowerblue,
    peru,
    hotpink,
    green,
);
.masonry {
    .brick-gutter {
        width: $masonry-gutter-size;
    }
    .brick {
        cursor: pointer;
        width: $masonry-brick-size;
        height: $masonry-brick-size;

        .brick-animation {
            overflow: hidden;
            padding: 10px;
            box-sizing: border-box;
            width: $masonry-brick-size;
            height: $masonry-brick-size;
            background: #333;
            transition: width 0.3s ease-in-out, height 0.3s ease-in-out;

            color: #fff;
            a {
                color: #fff;
                text-decoration: none;
            }
            h4 {
                margin-top: 0;
                margin-bottom: 10px;
            }
            .mdl-button {
                margin: 0 5px 0 0;
                background-color: rgba(255,255,255,0.2);
                &:hover {
                    background-color: rgba(255,255,255,0.3);
                }
            }
        }

        // Enlarge bricks
        @for $i from 1 through $masonry-brick-max-size {
            @for $j from 1 through $masonry-brick-max-size {
                &.size#{$i}x#{$j},
                &.size#{$i}x#{$j} .brick-animation {
                    width: $masonry-brick-size * $i + ($i - 1) * $masonry-gutter-size;
                    height: $masonry-brick-size * $j + ($j - 1) * $masonry-gutter-size;

                }
                &.size#{$i}x#{$j}:not(.expanded) {
                    @if $i == 1 {
                        h4 {
                            font-size: 18px;
                            line-height: 25px;
                        }
                    }
                    @if $j == 1 and $i == 2 {
                        h4 {
                            font-size: 21px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }

        // Colorize bricks
        $k: 1;
        @for $i from 1 through 3 {
            @each $color in $masonry-brick-colors {
                &:nth-child(#{$k}) .brick-animation {
                    @if $i % 2 == 0 {
                        background-color: desaturate(darken($color, 20), 10);
                    } @else {
                        background-color: desaturate(darken($color, 10), 20);
                    }
                }
                $k: $k + 1;
            }
        }

        &.expanded,
        &.expanded .brick-animation {
            width: $masonry-brick-size * 5 + 4 * $masonry-gutter-size;
            height: $masonry-brick-size * 2 + 1 * $masonry-gutter-size;
        }

        .brick-info {
            display: none;
        }
        &.expanded .brick-info {
            display: block;
        }
    }
}

.products-group h3 a {
    font-size: 29px;
}
.list-products {
    list-style: none;
    font-size: 1.3em;
    padding: 0 0 0 40px;
    box-sizing: border-box;
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;

    li {
        padding: 0.3em 0;
    }
}
@media (max-width: 839px) {
    .list-products {
        padding: 0;
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }
}

.list-articles {
    padding: 0;
    li {
        list-style: none;
        display: inline-block;
        a {
            padding: 3px 5px;
            font-size: 1.2em;
        }
    }
}

/* Docs */
#edit-page {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 900;
    margin: 0 40px 40px 0;
}
.no-edit #edit-page {
    display: none;
}
@media (max-width: 480px) {
    #edit-page {
        display: none;
    }
}
