body {
    background-color: #fefefe;
}
a {
    word-break: break-word;
    &.mdl-button {
        word-break: normal;
    }
}
img {
    max-width: 100%;
    color: #789ba9;
}
main img {
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
main img.noborder {
    border: none;
    padding: 0;
}
table {
    display: block;
    overflow: auto;
    width: 100%;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 16px;
}
td, th {
    border: 1px solid #ddd;
    padding: 6px 13px;
}
tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

pre, code {
    background-color: #f7f7f7;
    border-radius: 3px;
}
code {
    display: inline-block;
    padding: 0 0.5em;
    word-break: break-word;
}

pre, pre[class*="language-"] {
    position: relative;
    font-size: 85%;
    line-height: 1.6em;
    margin: 0 0 16px;
    padding: 0;
    white-space: pre-wrap;

    code {
        display: block;
        overflow: auto;
        background: none;
        border: none;
        padding: 10px 12px;
    }
}

blockquote {
    border-left: 4px solid #ddd;
    color: #777;
    padding: 8px 0 8px 15px;
    font-style: normal;
    line-height: normal;
    margin: 0 0 15px;
}
blockquote:before,
blockquote:after {
    content: '';
    position: static;
    left: auto;
    right: auto;
    margin: 0;
}
blockquote > *:last-child {
    margin-bottom: 0;
}
blockquote > *:first-child {
    margin-top: 0;
}

@media (max-width: 480px) {
    h1 {
        font-size: 42px;
        line-height: 1.2em;
    }
    h2 {
        font-size: 38px;
        line-height: 1.15em;
    }
}

.mdl-layout__drawer-button {
    color: inherit;
    line-height: 66px;
    width: 58px;
    height: 58px;
}
.mdl-layout__header {
    border-bottom: 1px solid #eaeaea;
}
.mdl-layout__header-row {
    height: 80px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
@media (max-width: 600px) {
    .mdl-layout__header-row {
        display: block;
        height: auto;
        text-align: center;
    }
    .mdl-layout__header-row .mdl-layout-title {
        margin: 20px 0 10px;
    }
}

.page {
    display: flex;
    width: 100%;
    max-width: 1280px;
    padding: 0;
    margin: 0 auto;

    .sidebar {
        box-sizing: border-box;
        flex: 0 0 25%;
        max-width: 250px;
        padding: 1.5em;

        > :first-child {
            margin-top: 0;
        }

        > ul {
            padding-left: 0;
        }

        ul {
            list-style: none;
            padding-left: 14px;
        }

        li {
            line-height: 1.3em;
            margin: 10px 0;

            a {
                display: inline-block;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .main {
        box-sizing: border-box;
        flex-grow: 1;
        padding: 1.5em;
    }
}

/* Table of contents */
#markdown-toc {
    list-style: none;
    padding-left: 0;

    /* Hide page title (H1) */
    > li:first-child {
        > a {
            display: none;
        }
    }
    /* Table of Contents (H4) */
    > li > ul > li:first-child {
        margin-bottom: 15px;
        > a {
            font-weight: bold;
            color: #999;
        }
    }

    ul {
        list-style: none;
        padding-left: 10px;
    }
    li {
        line-height: 1.3em;
        margin: 8px 0;

        a {
            color: #777;
            display: inline-block;
            padding-right: 10px; // force wrap to the new line to be consistent with active state
            text-decoration: none;
            &:hover {
                color: #ff4081;
            }
        }
        &.active > a {
            padding-right: 0;
            font-weight: 600;
        }
    }
}
@media (min-width: 1200px) {
    .page .content {
        position: relative;
        padding-right: 195px;
    }
    #table-of-contents,
    #contents {
        display: none;
    }
    #markdown-toc {
        border-left: 3px solid #f4f4f4;
        position: absolute;
        right: 0;
        top: 60px;
        margin: 0;
        width: 180px;
        font-size: 13px;

        max-height: 100%;
        overflow: auto;
        ul {
            font-size: 13px;
        }

        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;

            &-thumb {
                background-color: rgba(0,0,0,.26);
            }
        }
    }
}
@media (max-width: 1199px) {
    #markdown-toc.is_stuck {
        position: static !important;
    }
}

/* Search block */
.docs-search {
    .mdl-button {
        right: 0;
    }
    .mdl-textfield {
        width: 100%;
    }
    .textfield-wrapper {
        position: relative;
        width: 300px;
    }
    .mdl-textfield__input {
        border-bottom-color: transparent;
    }
}
@media (max-width: 839px) {
    .docs-search .textfield-wrapper {
        width: 200px;
    }
}
@media (max-width: 600px) {
    .docs-search .textfield-wrapper {
        width: 80%;
        margin: 0 auto;
    }
}
.search-results {
    margin: 0;
    padding: 10px 15px 12px;
    list-style: none;

    li {
        padding: 2px 0;
    }

    .category {
        font-size: 11px;
        background: #f1f1f1;
        border-radius: 2px;
        text-shadow: 1px 1px 0 #fff;
        color: #888;
        padding: 2px 4px;
        margin: 0 0 0 5px;
        vertical-align: middle;
    }

    .group {
        font-weight: bold;
    }
    ul {
        list-style: none;
        padding: 0 0 0 20px;
    }
}
.docs-search .search-results {
    display: none;
    position: absolute;
    z-index: 10;
    right: 0;
    width: 500px;
    text-align: left;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin-top: -25px;
}
.search-results.shown {
    display: block;
}
@media (max-width: 600px) {
    .docs-search .search-results {
        width: 100%;
    }
}

.breadcrumbs {
    margin: 5px 0 10px;
}
.jumbotron {
    padding: 30px 0;
}

/* Home */
.card {
    .card-content {
        .actions {
            a {
                margin: 0 10px 0 0;
            }
        }
    }
}

//
// Copy to clipboard button and tooltips
// ______________________________________________
.btn-clip {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    outline: none;
    color: rgba(0,0,0,.5);
    font-size: 13px;
    background-color: rgba(0,0,0,.1);
    border: none;
    border-bottom-left-radius: 5px;
    padding: 3px 10px;
    min-width: 60px;
    overflow: visible;
    line-height: normal;
}
.btn-clip:active {
    box-shadow: 0 0 8px rgba(0,0,0,.2) inset;
}
.tooltipped:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    font: normal normal 11px/1.5 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: rgba(0,0,0,0.8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased;
}
.tooltipped:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0,0,0,0.8);
    pointer-events: none;
    content: "";
    border: 5px solid transparent;
}
.tooltipped:hover:before,
.tooltipped:hover:after,
.tooltipped:active:before,
.tooltipped:active:after,
.tooltipped:focus:before,
.tooltipped:focus:after {
    display: inline-block;
    text-decoration: none;
}
.tooltipped-s:after {
    top: 100%;
    right: 50%;
    margin-top: 5px;
    width: 40px;
    margin-right: -27px;
}
.tooltipped-s:before {
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: rgba(0,0,0,0.8);
}


//
// Masonry styles
// ______________________________________________
$masonry-gutter-size: 5px;
$masonry-brick-size: 102px;
$masonry-brick-max-size: 5;
$masonry-expanded-brick-width: 5;
$masonry-expanded-brick-height: 2;
$masonry-brick-colors: (
    red,
    deepskyblue,
    gold,
    tomato,
    rebeccapurple,
    lawngreen,
    magenta,
    cornflowerblue,
    peru,
    hotpink,
    green,
);
.masonry {
    .brick-gutter {
        width: $masonry-gutter-size;
    }
    .brick {
        cursor: pointer;
        width: $masonry-brick-size;
        height: $masonry-brick-size;

        &[data-brick-href] {
            h4 {
                text-decoration: underline;
            }
            &:hover h4 {
                text-decoration: none;
            }
        }

        .brick-animation {
            overflow: hidden;
            padding: 10px;
            box-sizing: border-box;
            width: $masonry-brick-size;
            height: $masonry-brick-size;
            background: #333;
            transition: width 0.3s ease-in-out,
                        height 0.3s ease-in-out,
                        background-color 0.2s ease-in-out;

            color: #fff;
            a {
                color: #fff;
            }
            h4 {
                margin-top: 0;
                margin-bottom: 10px;
            }
            .mdl-button {
                margin: 0 5px 0 0;
                background-color: rgba(255,255,255,0.2);
                &:hover {
                    background-color: rgba(255,255,255,0.3);
                }
            }
        }

        // Enlarge bricks
        @for $i from 1 through $masonry-brick-max-size {
            @for $j from 1 through $masonry-brick-max-size {
                &.size#{$i}x#{$j},
                &.size#{$i}x#{$j} .brick-animation {
                    width: $masonry-brick-size * $i + ($i - 1) * $masonry-gutter-size;
                    height: $masonry-brick-size * $j + ($j - 1) * $masonry-gutter-size;

                }
                &.size#{$i}x#{$j}:not(.expanded) {
                    @if $i == 1 {
                        h4 {
                            font-size: 18px;
                            line-height: 25px;
                        }
                    }
                    @if $j == 1 and $i == 2 {
                        h4 {
                            font-size: 21px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }

        // Colorize bricks
        $k: 1;
        $_color: #fff;
        @for $i from 1 through 3 {
            @each $color in $masonry-brick-colors {
                &:nth-child(#{$k}) .brick-animation {
                    @if $i % 2 == 0 {
                        $_color: desaturate(darken($color, 20), 10)
                    } @else {
                        $_color: desaturate(darken($color, 10), 20);
                    }
                    background-color: $_color;
                    &:hover {
                        background-color: darken($_color, 5);
                    }
                }
                $k: $k + 1;
            }
        }

        &.expanded,
        &.expanded .brick-animation {
            width: $masonry-brick-size * $masonry-expanded-brick-width + ($masonry-expanded-brick-width - 1) * $masonry-gutter-size;
            height: $masonry-brick-size * $masonry-expanded-brick-height + ($masonry-expanded-brick-height - 1) * $masonry-gutter-size;
        }

        .brick-info {
            display: none;
        }
        &.expanded .brick-info {
            display: block;
        }
    }
}

.products-group h3 a {
    font-size: 29px;
}
.list-products {
    list-style: none;
    font-size: 1.3em;
    padding: 0 0 0 40px;
    box-sizing: border-box;
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;

    &.onecolumn {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }
    li {
        padding: 0.3em 0;
    }
}
@media (max-width: 839px) {
    .list-products {
        padding: 0;
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;

        &.onecolumn {
            column-count: 1;
            -moz-column-count: 1;
            -webkit-column-count: 1;
        }
    }
}

.list-articles {
    padding: 0;
    li {
        list-style: none;
        display: inline-block;
        a {
            padding: 3px 5px;
            font-size: 1.2em;
        }
    }
}

//
// Gallery
//
.gallery {
    @for $i from 1 through 6 {
        &.phone-up-#{$i} {
            figure {
                width: 100% / $i;
            }
        }
    }
    @media (min-width: 481px) {
        @for $i from 1 through 6 {
            &.tablet-up-#{$i} {
                figure {
                    width: 100% / $i;
                }
            }
        }
    }
    @media (min-width: 992px) {
        @for $i from 1 through 6 {
            &.desktop-up-#{$i} {
                figure {
                    width: 100% / $i;
                }
            }
        }
    }
    figure {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        margin-left: -4px; /* fighting gap between inline-block elements */
        padding: 5px;

        img {
            background: #fff;
        }
    }
    figcaption {
        display: none;
    }

    // single row items with native srollbar
    &.scroll {
        white-space: nowrap;
        overflow: auto;
        margin-bottom: 15px;
        figure {
            padding-bottom: 10px;
        }
    }
}

/* Docs */
#edit-page {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 900;
    margin: 0 40px 40px 0;
}
.no-edit #edit-page {
    display: none;
}
@media (max-width: 480px) {
    #edit-page {
        display: none;
    }
}

/* Dev docs */
.sortorder-wrapper {
    p {
        margin: 0;
    }
    #module_sortorder {
        text-align: center;
        padding: 0;
        width: 50px;
        margin-left: -65px;
    }
    input {
        float: left;
    }
}
