@charset 'UTF-8';

// 1. Configuration and helpers
// @import
//   'abstracts/variables',
//   'abstracts/functions',
//   'abstracts/mixins';

// 2. Vendors
// @import
//   'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/typography';

// 4. Layout-related sections
@import
  'layout/content',
  'layout/header',
  'layout/footer',
  'layout/products';

// 5. Components
@import
  'components/buttons',
  'components/tooltips',
  'components/masonry',
  'components/breadcrumbs',
  'components/search',
  'components/gallery';

// 6. Page-specific styles
@import
  'pages/home',
  'pages/404',
  'pages/devdocs';

// // 7. Themes
// @import
//   'themes/default';

@media print {
  @import 'base/print';
}
