---
layout: default
title: Firecheckout usps address verification configuration
description: Firecheckout address verification configuration screenshots and description
keywords: firecheckout address verification, usps address verification
category: Firecheckout
---

# AddressVerification (USPS)

These settings available at _Admin > System > Configuration > TM Checkout > AddressVerification (USPS)_
page.

![General settings](/images/m1/firecheckout/configuration/address-verification/general.png)

Please make sure to complete the steps below, before enabling the extension:

 1. Register USPS account and [enable api support](https://www.usps.com/business/web-tools-apis/welcome.htm)
 2. Open USPS shipping method configuration and fill your details
    at _System > Configuration > Shipping Methods > USPS_

    > You can leave it disabled, if you don't use USPS shipping methods
