{% assign shopify = site.data.homepage.sh %}
<div class="clearfix products-group group-argento">
  <h3>{{ shopify.title }}</h3>
  <div class="card mdl-grid">
    <div class="card-content mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--order-2">
      <h4>{{ shopify.subtitle }}</h4>
      <div class="description">
        {{ shopify.description }}
      </div>
      <div class="actions">
        {% if include.sh != false %}
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{ shopify.urls.sh | prepend: site.baseurl }}">Shopify</a>
        {% endif %}
      </div>
    </div>
    <div class="card-content-image">
      {% for image in shopify.images %}
        <img class="noborder" src="{{ image.src | prepend: site.baseurl }}" alt="{{ image.title }}"/>
      {% endfor %}
    </div>
  </div>
</div>
