---
layout: default
body_class: no-anchors
---

<div class="products-group group-extensions-m1">
  <h3>
      <a title="Magento 1.x Extensions" href="{{ '/m1/extensions' | prepend: site.baseurl }}">Magento 1.x Extensions</a>
  </h3>
  <ul class="list-products">
    {% for hash in site.data.extensions %}
      {% assign extension = hash[1] %}

      {% if extension.urls.m1 == null %}
        {% continue %}
      {% endif %}

      <li>
        <a href="{{ extension.urls.m1 | prepend: site.baseurl }}" title="{{ extension.title }}">{{ extension.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="products-group group-extensions-m2">
  <h3>
      <a title="Magento 2.x Extensions" href="{{ '/m2/extensions' | prepend: site.baseurl }}">Magento 2.x Extensions</a>
  </h3>
  <ul class="list-products">
    {% for hash in site.data.extensions %}
      {% assign extension = hash[1] %}

      {% if extension.urls.m2 == null %}
        {% continue %}
      {% endif %}

      <li>
        <a href="{{ extension.urls.m2 | prepend: site.baseurl }}" title="{{ extension.title }}">{{ extension.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
