---
layout: default
body_class: no-anchors no-edit
---

{% assign argento = site.data.homepage.argento %}
<div class="clearfix products-group group-argento">
  <h3>{{ argento.title }}</h3>
  <div class="card mdl-grid">
    <div class="card-content mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--order-2">
      <h4>{{ argento.subtitle }}</h4>
      <div class="description">
        {{ argento.description }}
      </div>
      <div class="actions">
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{ argento.urls.m1 | prepend: site.baseurl }}">Magento 1.x</a>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{ argento.urls.m2 | prepend: site.baseurl }}">Magento 2.x</a>
      </div>
    </div>
    <div class="carousel js-flickity card-thumbnail mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet mdl-cell--4-col-phone"
      data-flickity-options='{ "wrapAround": true, "pageDots": false, "prevNextButtons": false, "autoPlay": true, "imagesLoaded": true }'>
      {% for image in argento.images %}
        <img src="{{ image.src | prepend: site.baseurl }}" alt="{{ image.title }}"/>
      {% endfor %}
    </div>
  </div>
</div>

{% assign group = site.data.homepage.extensions %}
<div class="clearfix products-group group-{{ group.title | downcase | replace: ' ', '-' }}">
  <h3>
    {{ group.title }}
    {% if group.url %}
      <a title="{{ group.title }}" href="{{ group.url | prepend: site.baseurl }}">&#8658;</a>
    {% endif %}
  </h3>
  <div class="masonry">
    {% for id in group.items %}
      {% assign extension = site.data.extensions[id] %}
      <div class="brick {{ extension.size | prepend: 'size' }}">
        <div class="brick-animation">
          <h4>{{ extension.title }}</h4>
          <div class="brick-info">
            <p>{{ extension.short_description }}</p>
            <div class="actions">
              {% if extension.urls.m1 %}
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ extension.urls.m1 | prepend: site.baseurl }}">Magento 1.x</a>
              {% endif %}
              {% if extension.urls.m2 %}
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ extension.urls.m2 | prepend: site.baseurl }}">Magento 2.x</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="brick brick-more no-resize size1x1" data-brick-href="{{ '/extensions/' | prepend: site.baseurl }}" title="View All Extensions">
      <div class="brick-animation">
        <h4>More</h4>
      </div>
    </div>
    <div class="brick-gutter"></div>
  </div>
</div>
