---
layout: default
body_class: no-anchors no-edit
---

{% include argento/promo.html %}

{% assign group = site.data.homepage.extensions %}
<div class="clearfix products-group group-extensions">
  <h3> 
    {{ group.title }}
    {% if group.url %}
      <a title="{{ group.title }}" href="{{ group.url | prepend: site.baseurl }}">&#8658;</a>
    {% endif %}
  </h3>
  <div class="masonry">
    {% for id in group.items %}
      {% assign extension = site.data.extensions[id] %}
      <div class="brick {{ extension.size | prepend: 'size' }}">
        <div class="brick-animation">
          <h4>{{ extension.title }}</h4>
          <div class="brick-info">
            <p>{{ extension.short_description }}</p>
            <div class="actions">
              {% if extension.urls.m1 %}
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ extension.urls.m1 | prepend: site.baseurl }}">Magento 1.x</a>
              {% endif %}
              {% if extension.urls.m2 %}
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ extension.urls.m2 | prepend: site.baseurl }}">Magento 2.x</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="brick brick-more no-resize size1x1" data-brick-href="{{ '/extensions/' | prepend: site.baseurl }}" title="View All Extensions">
      <div class="brick-animation">
        <h4>More</h4>
      </div>
    </div>
    <div class="brick-gutter"></div>
  </div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    {% include themes/m1.html %}
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    {% include themes/m2.html %}
  </div>
</div>
