---
layout: default
body_class: no-anchors no-edit
---

<div class="clearfix products-group group-argento">
  <h3>Argento</h3>
  <div class="card mdl-grid">
    <div class="card-content mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--order-2">
      <h4>
        Most Advanced Magento Responsive Theme, powered with Top-Quality
        Popular Extensions
      </h4>
      <div class="description">
        <p>Argento is more than just another template created for Magento. It was created right from the ground based on the best ecommerce stores practices and according to Magento developers guidelines.</p>
      </div>
      <div class="actions">
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{ '/m1/argento/' | prepend: site.baseurl }}">Magento 1.x</a>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{ '/m2/argento/' | prepend: site.baseurl }}">Magento 2.x</a>
      </div>
    </div>
    <div class="carousel js-flickity card-thumbnail mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet mdl-cell--4-col-phone"
      data-flickity-options='{ "wrapAround": true, "pageDots": false, "prevNextButtons": false, "autoPlay": true, "imagesLoaded": true }'>
      <img src="{{ 'images/site/homepage/argento/desktop.png' | prepend: site.baseurl }}" alt="Argento desktop screenshot"/>
      <img src="{{ 'images/site/homepage/argento/tablet_and_phone.png' | prepend: site.baseurl }}" alt="Argento tablet and phone screenshot"/>
    </div>
  </div>
</div>

{% assign group = site.data.homepage.extensions %}
<div class="clearfix products-group group-{{ group.title | downcase | replace: ' ', '-' }}">
  <h3>
    {{ group.title }}
    {% if group.url %}
      <a title="{{ group.title }}" href="{{ group.url | prepend: site.baseurl }}">&#8658;</a>
    {% endif %}
  </h3>
  <div class="masonry">
    {% for id in group.items %}
      {% assign extension = site.data.extensions[id] %}
      <div class="brick {{ extension.size | prepend: 'size' }}">
        <div class="brick-animation">
          <h4>{{ extension.title }}</h4>
          <div class="brick-info">
            <p>{{ extension.short_description }}</p>
            <div class="actions">
              {% if extension.urls.m1 %}
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ extension.urls.m1 | prepend: site.baseurl }}">Magento 1.x</a>
              {% endif %}
              {% if extension.urls.m2 %}
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ extension.urls.m2 | prepend: site.baseurl }}">Magento 2.x</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="brick brick-more size1x1">
      <div class="brick-animation">
        <h4>More</h4>
        <div class="brick-info">
          <p>Browse All Magento extensions documentation</p>
          <div class="actions">
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ '/m1/extensions/' | prepend: site.baseurl }}">Magento 1.x</a>
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ '/m2/extensions/' | prepend: site.baseurl }}">Magento 2.x</a>
          </div>
        </div>
      </div>
    </div>
    <div class="brick-gutter"></div>
  </div>
</div>
