<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <ul class="mdl-mini-footer__link-list">
            <li><a href="#"><a href="http://argentotheme.com/" title="Advanced Magento responsive theme">Argento</a></a></li>
            <li><a href="https://swissuplabs.com/" title="SwissUpLabs Extensions">Swissuplabs</a></li>
            <li><a href="http://templates-master.com/" title="Templates-Master Extensions and Themes">Templates-Master</a></li>
        </ul>
    </div>
</footer>
