{% assign argento = site.data.homepage.argento %}
<div class="clearfix products-group group-argento">
  <h3>{{ argento.title }}</h3>
  <div class="card mdl-grid">
    <div class="card-content mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--order-2">
      <h4>{{ argento.subtitle }}</h4>
      <div class="description">
        {{ argento.description }}
      </div>
      <div class="actions">
        {% if include.m1 != false %}
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{ argento.urls.m1 | prepend: site.baseurl }}">Magento 1.x</a>
        {% endif %}
        {% if include.m2 != false %}
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{ argento.urls.m2 | prepend: site.baseurl }}">Magento 2.x</a>
        {% endif %}
      </div>
    </div>
    <div class="carousel js-flickity card-thumbnail mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet mdl-cell--4-col-phone"
      data-flickity-options='{ "wrapAround": true, "pageDots": false, "prevNextButtons": false, "autoPlay": true, "imagesLoaded": true }'>
      {% for image in argento.images %}
        <img src="{{ image.src | prepend: site.baseurl }}" alt="{{ image.title }}"/>
      {% endfor %}
    </div>
  </div>
</div>
