.page {
    /* Copied from .mdl-layout (except overflow) */
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;

    margin: 30px auto;
    max-width: 1080px;
    padding: 10px 50px 30px;
    box-sizing: border-box;
}
.mdl-layout__content {
    padding: 10px 0 0;
}
@media (max-width: 1080px) {
    body {
        background-color: #fff;
    }
    .page {
        margin: 0 auto;
        box-shadow: none;
    }
}
@media (max-width: 839px) {
    .page {
        padding: 0 20px;
    }
}
