body {
    background-color: #f5f5f5;
}
a {
    word-break: break-word;
    &.mdl-button {
        word-break: normal;
    }
}
img {
    max-width: 100%;
    color: #789ba9;
}
main img {
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
main img.noborder {
    border: none;
    padding: 0;
}
table {
    display: block;
    overflow: auto;
    width: 100%;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 16px;
}
td, th {
    border: 1px solid #ddd;
    padding: 6px 13px;
}
tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

pre, code {
    background-color: #f7f7f7;
    border-radius: 3px;
}
code {
    display: inline-block;
    padding: 0 0.5em;
    word-break: break-word;
}

pre, pre[class*="language-"] {
    position: relative;
    font-size: 85%;
    line-height: 1.6em;
    margin: 0 0 16px;
    padding: 0;

    code {
        display: block;
        overflow: auto;
        background: none;
        border: none;
        padding: 10px 12px;
    }
}

blockquote {
    border-left: 4px solid #ddd;
    color: #777;
    padding: 8px 0 8px 15px;
    font-style: normal;
    line-height: normal;
    margin: 0 0 15px;
}
blockquote:before,
blockquote:after {
    content: '';
    position: static;
    left: auto;
    right: auto;
    margin: 0;
}
blockquote > *:last-child {
    margin-bottom: 0;
}
blockquote > *:first-child {
    margin-top: 0;
}
