.collapsible {
    cursor: pointer;
    position: relative;
    padding-left: 16px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 2px;
        top: 50%;
        width: 11px;
        height: 1px;
        background-color: #aaa;
    }

    &.collapsed {
        &:after {
            transform: rotate(90deg);
        }
    }

    &-hidden {
        display: none;
    }
}
