.docs-search {
    .mdl-button {
        right: 0;
    }
    .mdl-textfield {
        width: 100%;
    }
    .textfield-wrapper {
        position: relative;
        width: 300px;
    }
    .mdl-textfield__input {
        border-bottom-color: transparent;
    }
}
@media (max-width: 839px) {
    .docs-search .textfield-wrapper {
        width: 200px;
    }
}
@media (max-width: 600px) {
    .docs-search .textfield-wrapper {
        width: 80%;
        margin: 0 auto;
    }
}
.search-results {
    margin: 0;
    padding: 10px 15px 12px;
    list-style: none;

    li {
        padding: 2px 0;
    }

    .category {
        font-size: 11px;
        background: #f1f1f1;
        border-radius: 2px;
        text-shadow: 1px 1px 0 #fff;
        color: #888;
        padding: 2px 4px;
        margin: 0 0 0 5px;
        vertical-align: middle;
    }

    .group {
        font-weight: bold;
    }
    ul {
        list-style: none;
        padding: 0 0 0 20px;
    }
}
.docs-search .search-results {
    display: none;
    position: absolute;
    z-index: 10;
    right: 0;
    width: 500px;
    text-align: left;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin-top: -25px;
}
.search-results.shown {
    display: block;
}
@media (max-width: 600px) {
    .docs-search .search-results {
        width: 100%;
    }
}
