.sortorder-wrapper {
    p {
        margin: 0;
    }
    #module_sortorder {
        text-align: center;
        padding: 0;
        width: 50px;
        margin-left: -65px;
    }
    input {
        float: left;
    }
}
