---
layout: default
title: Newsletter Booster email verification
description: magento newsletter booster module installation
keywords: >
  magento newsletter extension, magento newsletter email, magento
  email newsletter plugin, magento newsletter module,
  how to send email newsletter in magento, newsletterbooster
category: Newsletter Booster
---

# Email verification

Our module comes with email address verification support. You can check how it works by navigating to `Magento Admin > Templates Master > Newsletter Booster > Email Address Verification`.

By using the next interface, you can track email address verification statistics. Data are categorised according campaign sources.

![Newsletterbooster](/images/m1/extensions/newsletter-booster/verify-email-adress-grid.png)

The extension allows you to check whether the email address is valid. You can use this feature before sending testing mail to the recipient. Thereby after checking whether the mailbox exists, you would start your newsletter campaign much easier. Please enter the address requested for verification in the `Email For Test` field. The `From Email` field is required, that’s why you have to enter the email address from which the test will be sent. After filling fields, you have to press **Run Test** button.

![Newsletterbooster](/images/m1/extensions/newsletter-booster/verification-test.png)

Now you can see the test results. Keep sending!

![Newsletterbooster](/images/m1/extensions/newsletter-booster/verification-result.png)

By following the next interface you are allowed to review all verified email addresses by the debug information, campaign source type, etc.

![Newsletterbooster](/images/m1/extensions/newsletter-booster/verify-email-adress.png)

#### You can also check:

*   [Installation](../installation/)
*   [Managing customer segments](../managing-customer-segments/)
*   [Creating email gateway](../creating-email-gateway/)
*   [Creating campaign](../creating-campaign/)
*   [Managing queue](../managing-queue/)
*   [Configuration](../configuration/)
*   [Use cases](../use-cases/)
*   [Support](https://swissuplabs.com/contacts/)
*   [Forum](https://swissuplabs.com/magento-forum/)