## Prepare to update

Update requires Marketplace module. It’s our module that
registers our packages repository in composer.json file, saves its credentials
to the auth.json file, automates a bunch of complex commands required to run
prior and after module installation, and provides easy to use module installer.

```bash
composer require swissup/module-marketplace &&\
bin/magento setup:upgrade &&\
bin/magento marketplace:channel:enable swissuplabs
```

You'll be asked to activate your domain and enter your key. Get identity key(s)
and activate the domain on the site where you’ve purchased the product:

 -  [argentotheme.com](https://argentotheme.com/license/customer/activation/)
 -  [firecheckout.net](https://firecheckout.net/license/customer/activation/)
 -  [swissuplabs.com](https://swissuplabs.com/license/customer/activation/)

## Update

When Marketplace module is installed you can proceed with update using the
following command (GUI is also available under _System > Marketplace_ menu entry).

```bash
bin/magento marketplace:package:update {{ include.package }}
```
