## Prepare to install

Installation requires Marketplace module. It’s our module that
automates a bunch of complex commands required to run
prior and after module installation, and provides easy to use module installer.

```bash
composer require swissup/module-marketplace &&\
bin/magento setup:upgrade
```

Prepare directory for downloaded archives and register it in `composer.json`:

```bash
mkdir -p vendor/swissup/artifacts &&\
composer config repositories.swissupartifacts artifact $(pwd)/vendor/swissup/artifacts
```

## Download and unpack archive

 1. Open your account page at the site where you purchased the module and download it:{% if include.argentotheme != 'false' %}
    -  [argentotheme.com](https://argentotheme.com/license/customer/activation/){% endif %}{% if include.firecheckout != 'false' %}
    -  [firecheckout.net](https://firecheckout.net/license/customer/activation/){% endif %}{% if include.swissuplabs != 'false' %}
    -  [swissuplabs.com](https://swissuplabs.com/license/customer/activation/){% endif %}

 2. Upload this archive to the `<magento_root>` directory, and then unpack it
    to the `<magento_root>/vendor/swissup/artifacts` folder:

    ```bash
    unzip swissup.<module-version>.zip -d vendor/swissup/artifacts
    ```

 3. Now, proceed to install section.

## Install

When Marketplace module is installed you can proceed with installation
in teminal (GUI is not supported in manual mode):

```bash
bin/magento marketplace:package:require {{ include.package }}{% if include.installer == 'true' %} &&\
bin/magento marketplace:package:install {{ include.package }}{% endif %}
```
